<h1><%= @place["name"]%></h1>

<h2>Entries</h2>
<p>
<ul>
<%for entry in @entries%>
  <li>
    <p><strong><%=entry["title"]%></p></strong>
    <p><em><%=entry["date"]%></em></p>
    <p><%=entry["description"]%></p>
  </li>
  <%end%>
</ul>
</p>

<p>
  <a href="/places">Back to Places I've Been</a>
 </p>

 <p>
  <a href="/entries/new?place_id=<%=@place["id"]%>">New Entry</a>
 </p>